<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.2/markdown-it.js" type="text/javascript"></script>
</head>
<body>
<%= yield %>
<script type="text/javascript" charset="utf-8">
  document.querySelectorAll('.markdown').forEach(function(el) {
    const converter = markdownit()
    const output = converter.render(el.innerText)
    el.innerHTML = output
  })
</script>
</body>
</html>
